body
{
  background-color: #E4EFE7;
}
h1{
  color: #38A3A5;
}
h3 {
  color: #38A3A5;
}
hr
{
   border-style:none;
   border-top-style: dotted;
   border-color: rgb(187, 187, 194);
   border-width: 7px;
  width: 3%
 }
